<% if @notes.empty? %>
  <tr>
    <td align="center" class="msg">No Notes Found!</td>
  </tr>
<% else %>
  <% @notes.each do |note| %>
  <tr>
    <td>
        Title: <b><%= link_to note.title, note_comments_path(note), remote: :true , class: :link%></b><br>
        <%= link_to 'Edit' , edit_note_path(note), remote: :true, class: :link %> |
        <%= link_to 'Delete', note_path(note), method: :delete, remote: :true, data: { confirm: 'Do you want to delete' }, class: :link %> |
        <%= link_to 'New Comment', new_note_comment_path(note), remote: :true, class: :link %>
    </td>
  </tr>
  <% end %> <!-- end of do loop -->

<% end %> <!-- end of if -->
