<!-- Modal -->
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header bg-info">
      <h4 class="modal-title">Share Note "<span id="note_title"></span>"</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <%= form_tag({controller: :notes,action: :check_email}, method: :post)  do %>
    <div class="modal-body">
      Enter email to share the note :
      <%= email_field_tag("user_email","",class: "form-control",required: true) %>
      Permissions :
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-info">Share note</button>
    </div>
    <% end %>
  </div>
</div>
