<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <h3>You have been shared a note by <%= @name %> on NoteMe.<h3>
    <p>Please follow below link to join the community and get all the access to notes shared to you</p>
    <a href="http://localhost:3000/users/sign_up">Join NoteMe</a>
  </body>
</html>
