<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @receiver_name  %></h1>
    <h3>You have been shared a note by <%= @name %> on NoteMe.<h3>
  </body>
</html>
