<div class="" align="center">
  <br><br><br>
  <i class="fa fa-calendar" style="font-size:120px;color:#696969"></i><br><br>
  <h4>Welcome to NoteMe</h4>
  <h5>You can manage your Google calendar here</h5>
</div>
