<br>
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4">
      <center><h2>Add Event</h2></center>
      <%= form_tag({controller: "events", action: "create"}, method: "post",local: true) do %>
        Event Title :
        <input type="text" name="event_name" value="" class="form-control">
        Event Description :
        <textarea name="event_description" rows="8" cols="80" class="form-control"></textarea>
        Event Start Date :
        <input type="date" name="event_start_date" value="" class="form-control"><br>
        Event End Date :
        <input type="date" name="event_end_date" value="" class="form-control"><br>

        <center>
          <input type="submit" name="" value="Add Event" class="btn btn-info">
          <input type="reset" name="" value="Reset" class="btn btn-default">
        </center>
      <% end %>
    </div>
  </div>
</div>
