<br><br><br><br><br><br><br><br><br>
<center>
  <i class="fa fa-warning" style="font-size:70px"></i>
  <h3>You have not given permission to read your Google calendar</h3>
  <br><br>
  <%= link_to "Give Calendar Permission", calendar_permission_events_path ,class: "btn btn-info" %>
</center>
